<div class="jumbotron marginJumbotron text-center" style="height: calc(100vh - 102px)">
  <app-language-switch></app-language-switch>
  <h1 i18n="@@notFoundHeading" style="padding-top: calc((100vh - 102px - 6.25rem - 2em) / 2)">This site does not exist.</h1>
  <h3 i18n="@@notFoundLink">Click <a class="text-white" routerLink="/legal">here</a> to return home.</h3>
</div>
<app-footer></app-footer>

