<footer class="footer">
  <a routerLink="/legal" routerLinkActive="true" i18n="@@footerLegal">Legal Disclosure</a>

  <a routerLink="/dataSecurity" routerLinkActive="true" i18n="@@footerData">Data Security</a>
</footer>
