<form>
  <h4 i18n="@@contactHeading">Contact form</h4>
  <div class="form-group">
    <label i18n="@@contactName" for="name">Enter your name</label>
    <input type="text" class="form-control" required id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label i18n="@@contactEmail" for="email">Enter your E-Mail (optional)</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="contactMail" [ngModelOptions]="{standalone: true}">
    <small id="emailHelp" class="form-text text-muted" i18n="@@contactEmailDetail">Your email will only be used to contact you, if you wish an answer to your inquiry.</small>
  </div>
  <div class="form-group">
    <label i18n="@@contactMsg" for="msg">Enter your message</label>
    <textarea class="form-control" required id="msg" [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
  </div>
  <button [hidden]="mailSending" type="submit" class="btn btn-dark btn-block" i18n="@@contactSubmit" (click)="sendMail()" [disabled]="validateInput() || mailSending">Submit</button>
</form>
<div [hidden]="!mailSending || mailStatus" class="btn disabled btn-block btn-info mt-2" i18n="@@contactSending">Sending</div>
<div [hidden]="!mailStatus" class="btn disabled btn-block mt-2" [ngClass]="{'btn-danger': mailError, 'btn-success': !mailError}">
  <span [hidden]="!mailError || !mailStatus ">Error: </span>{{mailMsg}}
</div>
