<div class="float-right btn-group">
  <a class="btn marginSwitch" [ngClass]="{'btn-light': language.getLanguage() === 'en', 'btn-outline-light': language.getLanguage() != 'en'}" href="/en{{language.getUrl()}}">EN</a>
  <a class="btn marginSwitch" [ngClass]="{'btn-light': language.getLanguage() === 'de', 'btn-outline-light': language.getLanguage() != 'de'}" href="/de{{language.getUrl()}}">DE</a>
</div>
