/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #001520 url("/assets/background.png");
}

.btn-info.disabled {
  background-color: #0082c9;
  border-color: #0082c9;
}

.jumbotron {
  background-color: #e9ecefa0;
  padding: 1rem;
}

.marginJumbotron {
  margin: 1em;
}

h2 {
  padding-top: 1em;
}

h4 {
  padding-top: 0.25em;
}

.darker {
  background-color: #d1d4d7a0;
  margin-bottom: 0;
}
