<div class="jumbotron marginJumbotron">
  <app-language-switch></app-language-switch>
  <h1 i18n="@@dataHeading">Data Protection Policy</h1>
  <p i18n="@@dataResponsible">
    Responsible authority in the sense of the data protection laws, in particular the EU data protection basic
    regulation (DSGVO), is:
  </p>
  <p>
    Michael Schmitz<br/>
    Kriegerheimstraße 15<br/>
    90765 Fürth<br/>
  </p>
  <h2 i18n="@@dataRights">Your rights as an affected individual</h2>
  <p i18n="@@dataRightsDetail">
    You can exercise the following rights at any time using the contact details provided about our data protection
    officer:
  </p>
  <ul>
    <li i18n="@@dataRight1">
      Information about your data stored with us and their processing (Art. 15 DSGVO),
    </li>
    <li i18n="@@dataRight2">
      Correction of incorrect personal data (Art. 16 DSGVO),
    </li>
    <li i18n="@@dataRight3">
      Deletion of your data stored with us (Art. 17 DSGVO),
    </li>
    <li i18n="@@dataRight4">
      Restriction of data processing if we are not yet permitted to delete your data due to legal regulations (Art. 18
      DSGVO),
    </li>
    <li i18n="@@dataRight5">
      Objection to the processing of your data by us (Art. 21 DSGVO) and
    </li>
    <li i18n="@@dataRight6">
      Data transferability if you have consented to data processing or have entered into a contract with us (Art. 20
      DSGVO).
    </li>
  </ul>
  <p i18n="@@dataConsent">
    If you have given us your consent, you can revoke it at any time with effect for the future.
  </p>
  <p i18n="@@dataComplaint">
    You may at any time file a complaint with a supervisory authority, e.g. the competent supervisory authority of the
    federal state in which you reside or the authority responsible for us.
  </p>
  <p i18n="@@dataSupervisor">
    You will find a list of the supervisory authorities (for the non-public sector) with their addresses at:
    <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank"
       rel="nofollow noopener">www.bfdi.bund.de</a>.
  </p>
  <h2 i18n="@@dataRegistration">Registration on our website</h2>
  <h4 i18n="@@dataPurpose">Type and purpose of processing:</h4>
  <p i18n="@@dataPurposeDetail">
    When registering for the use of our personalised services, some personal data is collected, such as name,
    address, contact and communication data (e.g. telephone number and e-mail address). If you are registered with
    us, you can access content and services that we only offer to registered users. Registered users also have the
    option of changing or deleting the data provided during registration at any time. Of course, we will also
    provide you with information about the personal data we have stored about you at any time.
  </p>
  <h4 i18n="@@dataLegal">Legal basis:</h4>
  <p i18n="@@dataLegalDetail1">
    The data entered during registration is processed on the basis of the user's consent (Art. 6 para. 1 lit. a DSGVO).
  </p>
  <p i18n="@@dataContract">
    If the purpose of registration is to fulfil a contract to which the person concerned is a party or to carry out
    pre-contractual measures, the additional legal basis for processing the data is Art. 6 para. 1 lit. b DSGVO.
  </p>
  <h4 i18n="@@dataRecipient">Recipient:</h4>
  <p i18n="@@dataRecipientDetail1">
    Recipients of the data may be technical service providers who act as contract processors for the operation and
    maintenance of our website.
  </p>
  <h4 i18n="@@dataStorage">Storage period:</h4>
  <p i18n="@@dataStorageDetail1">
    Data will only be processed in this context as long as the corresponding consent has been given. Afterwards they
    will be deleted, as far as there are no legal storage obligations to the contrary. To contact us in this context,
    please use the contact data provided at the end of this data protection declaration.
  </p>
  <h4 i18n="@@dataPrescribedNecessary">Provision prescribed or necessary:</h4>
  <p i18n="@@dataPrescribedNecessaryDetail1">
    The provision of your personal data is voluntary, solely on the basis of your consent. Without the provision of your
    personal data we cannot grant you access to our offered contents and services.
  </p>
  <h2 i18n="@@dataComment">Comment function</h2>
  <h4 i18n="@@dataPurpose">Type and purpose of processing:</h4>
  <p i18n="@@dataCommentDetail1">
    If users leave comments on our website, the time of their creation and the user name previously chosen by the
    website visitor are stored in addition to this information. This serves our security, as we can be held liable for
    illegal content on our website, even if it has been created by users.
  </p>
  <h4 i18n="@@dataLegal">Legal basis:</h4>
  <p i18n="@@dataLegalDetail2">
    The processing of data entered as comments is carried out on the basis of a legitimate interest (Art. 6 para. 1 lit.
    f DSGVO).
  </p>
  <p i18n="@@dataCommentDetail2">
    By providing the comment function, we would like to enable you to interact in an uncomplicated manner. The
    information you provide will be stored for the purpose of processing your enquiry and for possible follow-up
    questions.
  </p>
  <h4 i18n="@@dataRecipient">Recipient:</h4>
  <p i18n="@@dataRecipientDetail2">
    Recipients of the data may be contract processors.
  </p>
  <h4 i18n="@@dataStorage">Storage period:</h4>
  <p i18n="@@dataStorageDetail2">
    The data is deleted as soon as it is no longer required for the purpose of collection. This is generally the
    case when communication with the user has been completed and the company can infer from the circumstances that the
    relevant facts have been conclusively clarified.
  </p>
  <h4 i18n="@@dataPrescribedNecessary">Provision prescribed or required:</h4>
  <p i18n="@@dataPrescribedNecessaryDetail2">
    The provision of your personal data is voluntary. Without the provision of your personal data, we cannot grant you
    access to our comment function.
  </p>
  <h2 i18n="@@dataContact">Contact Form</h2>
  <h4 i18n="@@dataPurpose">Type and purpose of processing:</h4>
  <p i18n="@@dataContactDetail1">
    The data you enter will be stored for the purpose of individual communication with you. For this purpose it is
    necessary to provide a valid e-mail address and your name. This is used to assign the query and then answer it. The
    entry of further data is optional.
  </p>
  <h4 i18n="@@dataLegal">Legal basis:</h4>
  <p i18n="@@dataLegalDetail3">
    The data entered in the contact form is processed on the basis of a legitimate interest (Art. 6 para. 1 lit. f
    DSGVO).
  </p>
  <p i18n="@@dataContactDetail2">
    By providing you with the contact form, we would like to make it easy for you to contact us. The information you
    provide will be stored for the purpose of processing your enquiry and for possible follow-up questions.
  </p>
  <p i18n="@@dataContactDetail3">
    If you contact us in order to request an offer, the data entered in the contact form will be processed in order to
    carry out pre-contractual measures (Art. 6 para. 1 lit. b DSGVO).
  </p>
  <h4 i18n="@@dataRecipient">Recipient:</h4>
  <p i18n="@@dataRecipientDetail2">
    Recipients of the data may be contract processors.
  </p>
  <h4 i18n="@@dataStorage">Storage period:</h4>
  <p i18n="@@dataStorageDetail3">
    Data will be deleted at the latest 6 months after processing of the request.
  </p>
  <p i18n="@@dataStorageLegal">
    If it comes to a contractual relationship, we are subject to the legal retention periods according to HGB and delete
    your data after the expiration of these periods.
  </p>
  <h4 i18n="@@dataPrescribedNecessary">Provision prescribed or necessary:</h4>
  <p i18n="@@dataPrescribedNecessaryDetail3">
    The provision of your personal data is voluntary. However, we can only process your request if you provide us with
    your name, e-mail address and the reason for the request.
  </p>
  <h2 i18n="@@dataSSL">SSL encryption</h2>
  <p i18n="@@dataSSLDetail">
    In order to protect the security of your data during transmission, we use state-of-the-art encryption procedures
    (e.g. SSL) via HTTPS.
  </p>
  <h2 i18n="@@dataChanges">Changes to our data protection regulations</h2>
  <p i18n="@@dataChangesDetail">
    We reserve the right to adapt this data protection policy so that it always complies with the current legal
    requirements or to implement changes to our services in the data protection policy, e.g. when introducing new
    services. Your new visit will then be subject to the new data protection declaration.
  </p>
  <h2 i18n="@@dataQuestion">Questions to the data protection officer</h2>
  <p i18n="@@dataQuestionDetail">If you have any questions about data protection, please send us an e-mail or contact the person responsible
    for data protection in our organisation directly:<br/>
    Michael Schmitz<br/>
    E-Mail: <a href="mailto:contact@pserv.dev">contact@pserv.dev</a>
  </p>
  <p i18n="@@dataGenerator" class="small"><em>The data protection declaration was created with the <a
    href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/" target="_blank" rel="noopener">data
    protection policy generator of activeMind AG</a> (Version 2018-09-24).</em></p>
</div>
<app-footer></app-footer>
